h1 {
  font-family: Apple Braille;
  font-size: 54px;
  text-align: center;

}
h4 {
  font-family: Apple Braille;
  font-size: 36px;
  text-align: left;
}
a {
  font-size: 22px;
}
p {
  font-size: 18px;
}
header img {
  height: 450px;
  width: 800px;
  display: block;
  margin: 0 auto;

}
body img {
  height: 450px;
  width: 700px;
  display: block;
  margin: 0 auto;
  padding: 25px 50px 25px 100px;
}
figcaption {
  text-align: center;
  font-size: 18px;
}
.place {
  background-color: yellow;
  padding: 10px;
}
